@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Poppins:wght@600&display=swap');

:root {
    /* white with slight purple to tone down contrast but not dull */
    --white: rgb(246, 238, 250);
    --black: black;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    background-color: var(--black);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 85vw;
    padding: 8vh 0;
    margin: 0 auto 0;
}

p {
    /* color: rgb(232, 231, 231); */
    columns: var(--white);
}

img {
    width: 100%;
    border-radius: 10px;
}

i,
a {
    color: var(--white);
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.open-nav {
    width: 30px;
}

.close-nav {
    width: 20px;
    padding-right: 30px;
}

.nav-left {
    display: none;
}

.visible {
    font-family: 'Inter', sans-serif;
    margin-left: 5%;
    display: block;
    position: relative;
    top: -0px;
    left: -75px;
    border: solid 1px rgba(255, 255, 255, 0.352);
    border-radius: 5px;
    padding: 5% 5% 0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.invisible {
    visibility: hidden;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    display: flex;
    justify-content: space-between;
}

li {
    padding-bottom: 20%;
}

a {
    text-decoration: none;
}

main {
    padding-top: 20px;
}

#header-about {
    padding-bottom: 5%;

}

#hero-text-name {
    font-size: 11vw;
    margin-bottom: 0;
}

#hero-text-title {
    font-size: 10vw;
}

#tech-logos {
    display: none;
}

/* PROJECTS */
#header-projects {
    margin-bottom: 20%;
}

.project-descriptions-row-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.project-title-links {}

.title {}

.project-link-icon {
    font-size: 5vw;
    margin-right: 4%;
}

.description {
    margin-bottom: 20%;
}

.project-link-resources {
    text-decoration: underline;
    color: rgb(198, 196, 196);
}

/* CONTACT PAGE */
#header-contact {
    width: 100%;
    padding-bottom: 5%;
}

.contact-links {
    display: flex;
    flex-direction: column;
}

.contact-svg-icons {
    width: 50px;
}

.contact-link {
    width: 100%;
    height: 25vh;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(255, 255, 255, 0.352);
    border-radius: 10px;
}

.contact-link img {
    border-radius: 0;
}

.exterior-link {
    all: unset;
    cursor: pointer;
}

.contact-link-text {
    font-family: 'Poppins', sans-serif;
}

/* #email-form {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

textarea:focus,
input:focus {
    outline: none;
}

.email-form-input {
    margin: 3% 0;
    padding: 5px;
    border-radius: 5px;
}

::placeholder {
    font-family: 'Inter', sans-serif;

}

.email-form-textarea {
    width: 100%;
    margin: 3% 0 6%;
    padding: 5px;
    border-radius: 5px;
    resize: none;
}

.email-form-button {
    width: 30%;
    margin: 3% 0 6%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: yellow;
} */

/* FOOTER */
.footer-nav-a-home {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    margin: 0 0 3%;
    display: flex;
    justify-content: center;
}

footer {
    width: 85vw;
    margin: auto auto 0;
}

#footer {
    margin: 0 auto 5vh;
}

footer p {
    font-size: 1.75vw;
    margin: 0;
    padding: 3px 0;
}

#footer-text-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.email-text,
.copyright-text,
.website-text {
    display: flex;
    justify-content: flex-end;
}

@media (min-width:768px) {

    .container {
        width: 65vw;
        padding: 8vh 0 0;
        margin: 0 auto;
    }

    h2 {
        font-size: 2.5vw;
    }

    p {
        font-size: 1em;
    }

    img {
        width: 30vw;
    }

    .open-nav {
        display: none;
        color: var(--white);
    }

    .close-nav {
        display: none;
    }

    .nav-left ul {
        display: flex;
    }

    .nav-left {
        visibility: visible;
        border: none;
        display: flex;
    }

    nav {
        font-size: 1.85vw;
        display: flex;
        justify-content: space-between;
    }

    ul {
        list-style-type: none;
    }

    li {
        padding-bottom: 5%;
    }

    .nav-a-home {
        margin: 0 !important;
    }

    .nav-a {
        text-decoration: none;
        margin-right: 4vw;
        padding-bottom: 1vh;
    }

    .nav-a:hover {
        border-bottom: solid 1px aliceblue;
        color: yellow;
    }

    .active {
        border-bottom: solid 1px aliceblue;
        color: yellow;
    }



    /* ABOUT */
    #header-about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #hero-text-name {
        font-size: 4vw;
        margin-bottom: 0;
    }

    #hero-text-title {
        font-size: 3vw;
    }

    #hero-text-2 {
        width: 30vw;
    }

    #hero-text-quote {
        font-size: 2vw;
    }

    #bio-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #tech-logos {
        padding-top: 5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #tech-icon-react {
        width: 5vh;
    }

    #tech-icon-javascript {
        width: 4vh;
    }

    #tech-icon-nodejs {
        width: 4vh;
    }

    #tech-icon-git {
        width: 5vh;
    }

    #tech-icon-github {
        width: 5vh;
    }

    #tech-icon-css3 {
        width: 4vh;
    }

    #tech-icon-npm {
        width: 6vh;
    }

    #tech-icon-bootstrap {
        width: 6vh;
    }

    #tech-icon-sass {
        width: 5vh;
    }

    #tech-icon-postgresql {
        width: 5vh;
    }

    #tech-icon-mongodb {
        width: 3vh;
    }

    /* PROJECTS */
    #header-projects {
        margin-bottom: 5%;
    }

    .project-title-links {
        width: 30vw;
    }

    #project-descriptions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .project-descriptions-row-reverse {
        display: flex;
        flex-direction: row;
    }

    .title {
        font-size: 2vw;
        margin-top: 0;
    }

    .title-ecomm {
        color: rgb(133, 197, 150);
    }

    .title-qr-code {
        color: rgb(137, 189, 208);
    }

    .title-crud {
        color: rgb(211, 237, 235);
    }

    .title-chi-api {
        color: rgb(218, 35, 83);
    }

    .project-link-icon {
        font-size: 2vw;
        margin-right: 8%;
        cursor: pointer;
    }

    .project-link-icon:hover {
        color: yellow;
    }

    .description {
        margin-bottom: 8%;
    }

    /* CONTACT PAGE */
    #contact-links {
        width: 65vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .contact-link {
        width: 30vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .exterior-link {
        all: unset;
        cursor: pointer;
    }

    .contact-link-text {
        font-size: 1.75vw;
    }

    /* .email-form-input {
        width: 50%;
        margin: 1.25% 0;
        padding: 1.5%;
        border-radius: 5px;
    }

    .email-form-textarea {
        width: 60%;
        margin: 1.25% 0;
        padding: 1.5%;
    }

    .email-form-button {
        width: 25%;
        margin: 1.25% 0 3%;
        padding: 10px;
        font-size: 1.5vw;
        font-family: 'Poppins', sans-serif;
    } */

    /* FOOTER */
    footer {
        width: 65vw;
        margin-top: auto;
    }

    #footer {
        margin: 0 auto 5vh;

    }

    footer p {
        font-size: 1vw;
        margin: 0;
        padding: 3px 0;
    }

    .footer-nav-a-home {
        font-family: 'Poppins', sans-serif;
        font-size: 1.85vw;
        margin: 10% 0 3%;
        display: flex;
        justify-content: center;
    }
}